:root{
  --mainRed:#95072b;
  --lightRed:#f58ca6;
  --mainWhite:#f3f3f3;
  --mainDark:#250f0f;
  --mainYellow: #dcfa59;
}

body {
  font-family: sans-serif, Helvetica !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
